@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    font-family: "League Spartan", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    background-image: url(images/bg-pattern-top-desktop.svg) , url(images/bg-pattern-bottom-desktop.svg) ;
    background-repeat: no-repeat ,no-repeat;
    background-position: top left , bottom right ;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 69vw;
    height: 500px;
    justify-content: space-between;
}
.one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.two{
    margin-top: 4px;
}
.main h1{
    font-size: 45px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.main p{
    font-size: 15px;
    color:hsl(303, 10%, 53%);
    line-height: 18px;
    margin-top: 20px;
}
.rating1{
    display: flex;
    background-color: hsl(303deg 10% 53% / 24%);
    margin-top: 10px;
    padding: 10px 0px;
    padding-right: 35px;
    padding-left: 30px;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 5px;
    border: none;
    position: relative;
    right: 80px;
}
.rating2{
    display: flex;
    background-color: hsl(303deg 10% 53% / 24%);
    margin-top: 10px;
    padding: 10px 0px;
    padding-right: 35px;
    padding-left: 30px;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 5px;
    border: none;
    position: relative;
    right: 40px;
}
.rating3{
    display: flex;
    background-color: hsl(303deg 10% 53% / 24%);
    margin-top: 10px;
    padding: 10px 0px;
    padding-right: 35px;
    padding-left: 30px;
    /* justify-content: space-around; */
    align-items: center;
    border-radius: 5px;
    border: none;
  
}
.rating1 p,
.rating2 p,
.rating3 p{
        /* flex: 1; */
        margin-left: 25px;
        font-weight: 700;
        color: hsl(300, 43%, 22%);
        font-size: 15px;
}
.ratings{
    margin-top: 20px;
}
.recs{
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
}
.rec1{
    background-color:  hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 40px;
    
}
.rec2{
    background-color:  hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 20px;
    
}
.rec3{
    background-color:  hsl(300, 43%, 22%);
    padding: 30px;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    
}
.nameNpic{
    display: flex;
    align-items: center;
}
.nameNpic img{
    width:40px ;
    height:40px ;
    object-fit: contain;
    border-radius: 50%;
}
.nameNdes{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}
.name{
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}
.ver{
    font-weight: 400;
    color: hsl(333, 80%, 67%);
    font-size: 15px; 
}
.par{
    margin-top: 20px;
    line-height: 17px;
    font-size: 14px;
    color: white;
}